body { background-color: black; }

textarea
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    outline: none;
    border: none;
    padding: 1%;
    border-width: 0%;
    border-radius: 8px;
    width: 50%;
    margin-bottom: 0.5%;
    background-color: white;
}

#displaybox
{
    font-family: sans-serif;
    font-size: 120%;
}

#displaybox::selection
{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
}

#displaybox::placeholder { font-style: italic }

#inputbox
{
    padding: 1%;
    font-size: 100%;
    height: 43px;
    font-family: sans-serif;
    text-align: center;
    margin: auto
}

#inputbox::placeholder
{
    font-style: italic;
    font-size: 90%;
    line-height: 43px;
}

/*Apple's WebKit*/
#inputbox::-webkit-input-placeholder { line-height: 43px; }

/* Firefox 18- */
#inputbox::-moz-placeholder { line-height: 43px; }

/* Firefox 19+ */
#inputbox::-moz-placeholder { line-height: 43px; }

/*Microsoft Edge*/
#inputbox::-ms-input-placeholder { line-height: 43px; }